# Windows
Thumbs.db

# Mac
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Visual Studio Code - General
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode/
*.code-workspace

# Visual Studio Code - local history
.history/

# Python - Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python - C extensions
*.so

# Python - distribution / packaging
.eggs/
.idea/
.installed.cfg
.Python
*.egg
*.egg-info/
AUTHORS
build/
ChangeLog
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
share/python-wheels/
var/
wheels/

# Python - unit test / coverage reports
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
*.cover
*.py,cover
cover/
coverage.xml
htmlcov/
nosetests.xml

# Files
*.html
*.pdf
*.swp